<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Usuarios · ReparApp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
            />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
            />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/tablas.css">


    </head>
    <body style="background-size: cover;">
        <section id="home" class="hero-section">
			<div
				class="hero-section hero-style  "
				
			>  <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito </h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                    <div class="card-body">
                        <h5 class="card-title">Error </h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="card border-0 p-4 card-login mb-2 mt-5">
                          <h3 class="text-center fw-bold text-center ">Listado de Usuarios</h3>

            <table class="table table-primary text-primary mt-5">
                <thead>
                    <tr class="texto-tabla">
                        <th scope="col" >id</th>
                        <th scope="col">Acc Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">e-mail</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado</th>
                        <th scope="col" sec:authorize="" >Acciones</th>


                                <table class="table table-primary text-primary">
                                    <thead>
                                        <tr class="texto-tabla">
                                            <th scope="col" sec:authorize="hasRole('ADMIN')" >Acciones</th>
                                            <!--<th scope="col">Acc Usuario</th>-->
                                            <th scope="col">Acc Usuario</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">e-mail</th>
                                            <th scope="col">Ubicacion</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Estado</th>

                                        </tr>
                                    </thead>
                                    <tbody th:each="usuario : ${usuarios}"> 
                                        <tr class="texto-tabla">
                                            <td>
                                                <a sec:authorize="" class="btn btn-outline-primary" th:href= "@{/usuarios/modificar/__${usuario.id}__}"><i class="bi bi-pencil-square"></i>Modificar </a>
                                            </td>
                                            <!--<th scope="row" th:text="${usuario.id}"></th>-->
                                            <td th:text="${usuario.accUsuario}"></td>
                                            <td th:text="${usuario.nombre}"></td>
                                            <td th:text="${usuario.email}"></td>
                                            <td th:text="${usuario.ubicacion}"></td>
                                            <td th:text="${usuario.rol}"></td>
                                            <td th:text="${usuario.alta? 'Alta' : 'Baja'}"></td>
                                            <td>

                                                <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/usuarioalta/__${usuario.id}__}" method="POST">
                                                    <button type="submit" class="btn-link">
                                                        <i class="fas fa-feather-alt"></i> Alta
                                                    </button>
                                                </form>

                                                <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/usuariobaja/__${usuario.id}__}" method="POST">
                                                    <button type="submit" class="btn-link">
                                                        <i class="fas fa-feather-alt"></i> Baja
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
          
        </div>
    </div>
                    <div class="row d-flex " style="height:180px;">

                        <div class="col-md-12 d-flex justify-content-end align-items-end mb-2">
                            <a class="btn btn-dark" href="/">volver</a>

                        </div>
                    </div>
</div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

                    </body>
                    </html>
