<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8" />

        <title>Contratos · ReparApp</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
              integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/servicio-cards.css">
    </head>

    <body style="background-size: cover;">
        <section id="home" class="hero-section">


            <!--header -->
            <header class="header">
                <div class="navbar-area sticky"><!-- sticky prueba barra fijada  -->
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <!-- navbar -->
                                <nav th:replace="~{/fragments/nav.html :: nav}"></nav>
                                <!-- fin navbar -->
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
            </header>
            <!-- imagen de fondo -->
            <div class="hero-section hero-style ">

                <!-- mensajes informe -->
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div class="container">
                    <div class="row" th:if="${#lists.isEmpty(contratos)}">
                        <h2 class="text-center my-5">No hay contratos para mostrar...</h2>
                    </div>
                    
                    <div class="row">
                            <div th:each="contrato : ${contratos}" class="col-md-4">

                            <div class="card mb-4">
                                <h5 sec:authorize="hasRole('PROVEEDOR')" class="card-header border-bottom border-primary">Contrato</h5>
                                <h5 sec:authorize="hasRole('CLIENTE')" class="card-header border-bottom border-primary">Oferta</h5>

                                <div class="row py-3">
                                    <div class="col-4 d-flex justify-content-center align-self-end">
                                        <!-- imagen cliente -->
                                        <img th:src="@{/imagen/usuario/__${contrato.oferta.cliente.id}__}"
                                             class="img_perfil align-self-end" alt="imagen de perfil" /> <!-- foto cliente -->
                                    </div>
                                    <!-- nombre cliente -->
                                    <div class="col-8 align-self-center fs-5">
                                        <h5 class="fs-5 m-0">Cliente:</h5>
                                        <h5 class="fs-5" th:text="${contrato.oferta.cliente.nombre}"></h5>
                                    </div>
                                </div>
                                <!-- estado del contrato -->
                                <div class="row border-top border-primary px-3 mx-2">
                                    <div th:text="'Estado: '+${contrato.estadoTrabajo.name}"
                                         th:if="${contrato.estadoTrabajo.name == 'PENDIENTE'}" class="descripcion-card py-2 text-secondary"></div>
                                    <div th:text="'Estado: '+${contrato.estadoTrabajo.name}"
                                         th:if="${contrato.estadoTrabajo.name == 'ACEPTADO'}" class="descripcion-card py-2 text-success"></div>
                                    <div th:text="'Estado: '+${contrato.estadoTrabajo.name}"
                                         th:if="${contrato.estadoTrabajo.name == 'RECHAZADO'}" class="descripcion-card py-2 text-danger"></div>
                                    <div th:text="'Estado: ' + ${contrato.estadoTrabajo.name + (contrato.aptitud == null ? ' (sin calificar)' : '')}"
                                         th:if="${contrato.estadoTrabajo.name == 'FINALIZADO'}" class="descripcion-card py-2 text-primary"></div>
                                </div>
                                <div class="row border-top border-primary px-4  mx-2">
                                    <!-- descripcion oferta de trabajo -->
                                    <div th:text="${contrato.oferta.descripcion}"
                                         class="descripcion-card py-2"></div>
                                </div>

                                <div class="card-body">

                                    <h5 class="fs-5 m-0">Profesional:</h5>
                                    <!-- nombre proveedor -->
                                    <h5 class="fs-5 m-0"
                                        th:text="${contrato.oferta.servicio.proveedor.nombre}"></h5>
                                    <!-- categoria trabajo -->
                                    <p class="card-text mb-3 text-info-emphasis" th:text="${contrato.oferta.servicio.categoria.nombre}"></p>

                                    <!-- botones tarjeta -->
                                    <div class="d-flex justify-content-end gap-2">
                                        <form th:if="${contrato.estadoTrabajo.name == 'PENDIENTE'}"
                                              sec:authorize="hasRole('PROVEEDOR')"
                                              th:action="@{/contrato/aceptar/__${contrato.id}__}" method="POST">
                                            <button type="submit" class="btn btn-success"><i class="bi bi-file-check"></i>
                                                Aceptar</button>
                                        </form>
                                        <form th:if="${contrato.estadoTrabajo.name == 'PENDIENTE'}"
                                              sec:authorize="hasRole('PROVEEDOR')"
                                              th:action="@{/contrato/rechazar/__${contrato.id}__}" method="POST">
                                            <button type="submit" class="btn btn-danger"><i class="bi bi-x-octagon"></i>
                                                Rechazar</button>
                                        </form>
                                        <form th:if="${contrato.estadoTrabajo.name == 'ACEPTADO'}"
                                              sec:authorize="hasRole('PROVEEDOR')"
                                              th:action="@{/contrato/finalizar/__${contrato.id}__}" method="POST">
                                            <button type="submit" class="btn btn-primary"><i class="bi bi-bookmark-check"></i>
                                                Finalizar</button>
                                        </form>
                                        <form
                                                th:if="${contrato.estadoTrabajo.name} == 'FINALIZADO' and ${contrato.getAptitud()} == null"
                                                sec:authorize="hasRole('CLIENTE')"
                                                th:action="@{/contrato/calificar/__${contrato.id}__}" method="GET">
                                            <button type="submit" class="btn btn-warning"><i class="bi bi-award-fill"></i>
                                                Calificar</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row d-flex " style="height:50px;">

                        <div class="col-md-12 d-flex justify-content-end align-items-end mb-2">
                            <a class="btn btn-dark" href="/">Volver</a>

                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{/fragments/footer.html :: footer}"></footer>

        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    </body>


</html>